<div class="centered-content">
    <div class="task-manager">
        <div class="sidebar">
            <h1 class="title">Lists</h1>
            <div class="list-menu">
                <div class="list-menu-item">
                    <p>List #1</p>
                </div>
                <div class="list-menu-item">
                    <p>List #1</p>
                </div>
            </div>
            <button class="button is-primary" (click)="createNewList()">+ New List</button>
        </div>
        
        <div class="task-list">
            <h1 class="title">Tasks</h1>
            <div class="task">
                <p>To Do</p>
            </div>
            <div class="task complete">
                <p>To Do</p>
            </div>
        </div>
    </div>
</div>
